@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Manrope-600';
  src: url('/Manrope-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-500';
  src: url('/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-700';
  src: url('/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-900';
  src: url('/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.app-container{
  background-color: bisque;
}

.theme-button-light {
  background-color: #F7F9FB;
  color: #333;
}

.theme-button-dark {
  background-color: #333;
  color: #fff;
}

.header{
  background-color: #fff;
  padding: 225px 20px;
  height: 450px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  background-image: url('Friom.svg');
  background-position: суcenter;
  background-repeat: no-repeat;
  transition: background-color 0.1s ease;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.read-the-docs{
  text-align: center;
  font-size: 10px;
  font-family: 'Inter-500';
  src: url('/Inter-500.woff2') format('woff2');
}

.app-container {
  justify-content: 'center';
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F7F9FB;
  transition: background-color 0.3s ease;
}

.header {
  padding: 225px 20px;
  height: 450px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  background-repeat: no-repeat;
  transition: background-color 0.1s ease;
  background-size: cover;
  background-position: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.c-agent-component {
  margin-top: 20px;
}

.issues-metrics-text,
.rewards-metrics-text,
.commenters-metrics-text {
  margin-top: 30px;
}
.main-content {
  padding: 20px;
}

.content-container {
  margin-top: 18px;
}



.card{
  border-radius: 20px;
}

.main-content {
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden; /* Запрет горизонтальной прокрутки и выхода за пределы экрана */
}

@media screen and (max-width: 1600px) {
  .main-content {
    max-width: 100%;
  }
}

html, body {
  overflow-x: hidden;
}

.options {
  margin-top: -60px;
}

.toolb {
    justify-content: center;
    position: absolute;
    max-width: 60px;
    max-height: 60px;
    top: 20px;
    right: 20px;
}
